<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar usuário"
          aria-label="Buscar usuário"
          [(ngModel)]="username"
        />
        <button (click)="getUser()" class="btn btn-outline-secondary" type="button">
          Pesquisar
        </button>
      </div>
      <div class="card text-center">
        <img [src]="user?.avatar_url" alt="" class="card-image-top" />
        <div class="card-body">
          <h5 class="card-title">{{ user?.name }}</h5>
          <p class="card-text">Login : {{ user?.login }}</p>
          <div class="text-center row">
            <div class="col-md">
              <p class="m-0"><b>Seguidores</b></p>
              <p class="card-text col-md">{{ user?.followers }}</p>
            </div>
            <div class="col-md">
              <p class="m-0"><b>Seguindo</b></p>
              <p class="card-text col-md">{{ user?.following }}</p>
            </div>
          </div>
          <a [href]="user?.html_url">Visitar perfil</a>
        </div>
      </div>
    </div>
  </div>
</div>
